.scope-pan {
    background: white;
    padding: 0;
    margin-top: -41px;
    overflow: hidden;
}
.scope-content {
    margin: 0 auto;
    width: 72%;
    /* background: red; */
}
.scope-content > ul {
    font-size: 14px;
}
.scope-content > ul > li {
    float: left;
    display: inline;
}
footer {
    clear: both;
}
ul.flash-cont > li {
    float: left;
    padding: 10px;
}